<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          class="SiteView.ecc.views.EccTreeControl"
          id="SiteView.ecc.views.EccTreeControl"
          name="Group">
    </view>
    <view
          class="SiteView.ecc.view.EccTreeControl"
          id="SiteView.ecc.view"
          name="Ecc9.2"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="SiteView.ecc.editors.EccControl"
          id="SiteView.ecc.editors.EccControl"
          name="Ecc">
    </editor>
    <editor
          class="SiteView.ecc.editors.UserManager"
          default="false"
          id="SiteView.ecc.editors.UserManager"
          name="用户管理">
    </editor>
    <editor
          class="SiteView.ecc.editors.AlarmEditor"
          default="false"
          id="SiteView.ecc.editors.Alarm"
          name="报警规则">
    </editor>
    <editor
          class="SiteView.ecc.editors.TableDuty"
          default="false"
          id="SiteView.ecc.editors.TableDuty"
          name="值班表">
    </editor>
    <editor
          class="SiteView.ecc.editors.AlarmRule"
          default="false"
          id="SiteView.ecc.editors.AlarmRule"
          name="报警规则">
    </editor>
    <editor
          class="SiteView.ecc.editors.TaskPlan"
          default="false"
          id="SiteView.ecc.editors.TaskPlan"
          name="任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.AbsoluteTime"
          default="false"
          id="SiteView.ecc.editors.AbsoluteTime"
          name="绝对时间任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.TimeQuantum"
          default="false"
          id="SiteView.ecc.editors.TimeQuantum"
          name="时间段任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.RelativeTime"
          default="false"
          id="SiteView.ecc.editors.RelativeTime"
          name="相对时间任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.EmailSetUp"
          default="false"
          id="SiteView.ecc.editors.EmailSetUp"
          name="邮件设置">
    </editor>
    <editor
          class="SiteView.ecc.editors.MessageSetUp"
          default="false"
          id="SiteView.ecc.editors.MessageSetUp"
          name="短信设置">
    </editor>
    <editor
          class="SiteView.ecc.editors.TrendReport"
          default="false"
          id="SiteView.ecc.editors.TrendReport"
          name="报表">
    </editor>
 </extension>
 <extension
       point="Siteview.Forms.Common.LayoutExtension">
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.MonitorLogTabView"
          Title="日志数据"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TotalTabView"
          Title="概要信息"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TrendReportTabView"
          Title="趋势报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.StatusCTIReport"
          Title="状态统计报表"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.ContrastReportTabView"
          Title="对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.TimeContrastReport"
          Title="时段对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.ErrorCTIReport"
          Title="错误统计报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
 </extension>
 <extension
       point="Siteview.Forms.Common.SiteviewAutoTask">
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.RemoteMacheineBundle"
          Name="添加远程设备">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditorRemoteMacheineBundle"
          Name="修改远程设备信息">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.addGroupBundle"
          Name="添加组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.DeleteGroupBundle"
          Name="删除组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditGroupBundle"
          Name="编辑组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.AddMonitorBundle"
          Name="增加监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditMonitorBundle"
          Name="编辑监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditsMonitorBundle"
          Name="编辑监测器1">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EmailAlarmBundle"
          Name="邮件报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.MassageAlarmBundle"
          Name="短信报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.ScriptAlarmBundle"
          Name="脚本报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.SoundAlarmBundle"
          Name="声音报警">
    </AutoTaskExtension>
 </extension>
 </plugin>
