<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          class="SiteView.ecc.views.EccTreeControl"
          id="SiteView.ecc.views.EccTreeControl"
          name="Group">
    </view>
    <view
          class="SiteView.ecc.view.EccTreeControl"
          id="SiteView.ecc.view"
          name="Ecc9.2"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="SiteView.ecc.editors.EccControl"
          default="false"
          id="SiteView.ecc.editors.EccControl"
          name="Ecc">
    </editor>
    <editor
          class="SiteView.ecc.editors.UserManager"
          default="false"
          id="SiteView.ecc.editors.UserManager"
          name="用户管理">
    </editor>
    <editor
          class="SiteView.ecc.editors.AlarmEditor"
          default="false"
          id="SiteView.ecc.editors.Alarm"
          name="报警规则">
    </editor>
    <editor
          class="SiteView.ecc.editors.TableDuty"
          default="false"
          id="SiteView.ecc.editors.TableDuty"
          name="值班表">
    </editor>
    <editor
          class="SiteView.ecc.editors.AlarmRule"
          default="false"
          id="SiteView.ecc.editors.AlarmRule"
          name="报警规则">
    </editor>
    <editor
          class="SiteView.ecc.editors.TaskPlan"
          default="false"
          id="SiteView.ecc.editors.TaskPlan"
          name="任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.AbsoluteTime"
          default="false"
          id="SiteView.ecc.editors.AbsoluteTime"
          name="绝对时间任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.TimeQuantum"
          default="false"
          id="SiteView.ecc.editors.TimeQuantum"
          name="时间段任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.RelativeTime"
          default="false"
          id="SiteView.ecc.editors.RelativeTime"
          name="相对时间任务计划">
    </editor>
    <editor
          class="SiteView.ecc.editors.EmailSetUp"
          default="false"
          id="SiteView.ecc.editors.EmailSetUp"
          name="邮件设置">
    </editor>
    <editor
          class="SiteView.ecc.editors.MessageSetUp"
          default="false"
          id="SiteView.ecc.editors.MessageSetUp"
          name="短信设置">
    </editor>
    <editor
          class="SiteView.ecc.editors.TrendReport"
          default="false"
          id="SiteView.ecc.editors.TrendReport"
          name="报表">
    </editor>
    <editor
          class="SiteView.ecc.editors.AlarmLog"
          default="false"
          id="SiteView.ecc.editors.AlarmLog"
          name="报警日志">
    </editor>
    <editor
          class="SiteView.ecc.editors.MonitorBrowse"
          default="false"
          id="SiteView.ecc.editors.MonitorBrowse"
          name="监测器游览">
    </editor>
 </extension>
 <extension
       point="Siteview.Forms.Common.LayoutExtension">
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.MonitorLogTabView"
          Title="日志数据"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TotalTabView"
          Title="概要信息"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TrendReportTabView"
          Title="趋势报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.StatusCTIReport"
          Title="状态统计报表"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.ContrastReportTabView"
          Title="对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.TimeContrastReport"
          Title="时段对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.ErrorCTIReport"
          Title="错误统计报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
 </extension>
 <extension
       point="Siteview.Forms.Common.SiteviewAutoTask">
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.RemoteMacheineBundle"
          Name="添加远程设备">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditorRemoteMacheineBundle"
          Name="修改远程设备信息">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.addGroupBundle"
          Name="添加组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.DeleteGroupBundle"
          Name="删除组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditGroupBundle"
          Name="编辑组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.AddMonitorBundle"
          Name="增加监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditMonitorBundle"
          Name="编辑监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditsMonitorBundle"
          Name="编辑监测器1">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EmailAlarmBundle"
          Name="邮件报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.MassageAlarmBundle"
          Name="短信报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.ScriptAlarmBundle"
          Name="脚本报警">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.SoundAlarmBundle"
          Name="声音报警">
    </AutoTaskExtension>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="SiteView.ecc.perspective"
          id="SiteView.ecc.perspective"
          name="Ecc监测器">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu">
       <menu
             id="toolMenu"
             label="工具箱">
          <menu
                icon="icons/Setup.jpg"
                id="MonitorSetUp"
                label="监测器设置">
             <command
                   commandId="ecc.EMail"
                   icon="icons/email.jpg"
                   style="push">
             </command>
             <command
                   commandId="ecc.Message"
                   icon="icons/messageSetUp.jpg"
                   style="push">
             </command>
             <command
                   commandId="ecc.TableDuty"
                   icon="icons/TableDuty.jpg"
                   style="push">
             </command>
             <command
                   commandId="ecc.UserManage"
                   icon="icons/user.bmp"
                   style="push">
             </command>
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </menu>
       </menu>
       <menu
             id="alarm"
             label="报警">
          <visibleWhen>
             <with
                   variable="activeWorkbenchWindow.activePerspective">
                <equals
                      value="SiteView.ecc.perspective">
                </equals>
             </with>
          </visibleWhen>
          <command
                commandId="ecc.alarm"
                icon="icons/Alarm.jpg"
                label="报警规则"
                style="push">
          </command>
          <command
                commandId="ecc.alarmlog"
                icon="icons/AlarmLog.jpg"
                label="报警日志"
                style="push">
          </command>
          <command
                commandId="ecc.alarmTactics"
                icon="icons/AlarmTactics.jpg"
                label="报警策略"
                style="push">
          </command>
       </menu>
       <menu
             id="report"
             label="报表">
          <visibleWhen>
             <with
                   variable="activeWorkbenchWindow.activePerspective">
                <equals
                      value="SiteView.ecc.perspective">
                </equals>
             </with>
          </visibleWhen>
          <command
                commandId="ecc.TrendReport"
                icon="icons/ico/趋势.jpg"
                label="趋势报告"
                style="push">
          </command>
          <command
                commandId="ecc.StatusCTIReport"
                icon="icons/ico/统计.jpg"
                label="状态统计报告"
                style="push">
          </command>
          <command
                commandId="ecc.TimeContrastReport"
                disabledIcon="icons/ico/时段.jpg"
                icon="icons/ico/时段.jpg"
                label="时段对比报告"
                style="push">
          </command>
          <command
                commandId="ecc.ContrastReport"
                icon="icons/ico/时段.jpg"
                label="对比报告"
                style="push">
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="SiteView.ecc.commands.EmailSetUpCommands"
          id="ecc.EMail"
          name="邮件设置">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.MessageSetUpCommands"
          id="ecc.Message"
          name="短信设置">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.TableDutySetUpCommands"
          id="ecc.TableDuty"
          name="值班表设置">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.UserManageSetUpCommands"
          id="ecc.UserManage"
          name="用户管理">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.AlarmCommands"
          id="ecc.alarm"
          name="报警规则">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.AlarmLogCommands"
          id="ecc.alarmlog"
          name="报警日志">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.AlarmTacticsCommands"
          id="ecc.alarmTactics"
          name="报警策略">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.TrendReportCommands"
          id="ecc.TrendReport"
          name="趋势报告">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.StatusCTIReportCommands"
          id="ecc.StatusCTIReport"
          name="状态统计报告">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.TimeContrastReportCommands"
          id="ecc.TimeContrastReport"
          name="时段对比报告">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.ContrastReportCommands"
          id="ecc.ContrastReport"
          name="对比报告">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.MonitorBrowseCommands"
          id="ecc.MonitorBrowse"
          name="监测器游览">
    </command>
    <command
          defaultHandler="SiteView.ecc.commands.MonitorSetUpCommands"
          id="ecc.MonitorSetUp"
          name="监测器设置">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="ecc.toolbar">
          <command
                commandId="ecc.EMail"
                icon="icons/ico/mail.ico"
                label="邮件设置"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="ecc.Message"
                icon="icons/ico/手机.jpg"
                label="短信设置"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="ecc.TableDuty"
                icon="icons/ico/Setup.ico"
                label="值班表设置"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="ecc.UserManage"
                icon="icons/ico/watch.ico"
                label="用户管理"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="ecc.MonitorSetUp"
                icon="icons/ico/1.ico"
                label="监测器设置"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="ecc.MonitorBrowse"
                icon="icons/ico/entity_ok.JPG"
                label="监测器游览"
                style="push">
             <visibleWhen>
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <equals
                         value="SiteView.ecc.perspective">
                   </equals>
                </with>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
 </extension>
 </plugin>
